/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFFAF0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 1.5rem;
  color: #D35400;
  margin-bottom: 20px;
  text-align: center;
}

/* Login Container */
.login-container {
  background-color: #FAD7A0;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  font-style: italic;
  color: #aaa;
}

/* Buttons */
.btn-login {
  background-color: #FEA47F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}

.btn-login:hover {
  background-color: #FF7F50;
}

.btn-register {
  background-color: transparent;
  color: #D35400;
  border: 1px solid #D35400;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.btn-register:hover {
  background-color: #D35400;
  color: #fff;
}
