/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right,#ffffff, #f4e9ed) ;
  color: #333;
}

header {
  background-color: #760049;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.5rem;
  color: #fff;
}

.header-buttons button {
  color: 760049;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.header-buttons button:hover {
  background-color: #f0d4df;
  color: #c82667;
}  
  .main-content {
    padding: 20px;
  }
  
  h2 {
    color: #c82667;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  
  .list-section {
    margin-bottom: 30px;
  }
  
  /* Tabel Data */
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .data-table th, .data-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .data-table th {
    background-color: #760049;
    color: white;
    font-weight: bold;
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color: #f0d4df;
  }
  
  .data-table tbody tr:hover {
    background-color: #f0d4df;
  }
  
  /* Tombol */
  button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-hapus {
    background-color: #E74C3C;
    color: white;
  }
  
  .btn-hapus:hover {
    background-color: #C0392B;
  }
  
  .btn-edit {
    background-color: #F39C12;
    color: white;
  }
  
  .btn-edit:hover {
    background-color: #D68910;
  }
  
  .btn-tambah {
    background-color: #28B463;
    color: white;
    font-weight: bold;
  }
  
  .btn-tambah:hover {
    background-color: #1D8348;
  }
  