/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFAF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Header Styles */
  header {
    width: 100%;
    text-align: center;
    background-color: #4CAF50; /* Hijau untuk header */
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
  }
  
  /* Main Content */
  .main-content {
    background-color: #FAD7A0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 20px; /* Tambahkan jarak antara header dan konten utama */
  }
  
  .main-content .form-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2E7D32; /* Hijau gelap */
  }
  
  /* Form Styles */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="text"]::placeholder,
  input[type="email"]::placeholder {
    font-style: italic;
    color: #aaa;
  }
  
  /* Button Styles */
  .btn-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #45A049;
  }
  