.main-content {
  padding: 20px;
}

h2 {
  color: #c82667;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

/* Tabel Informasi Pasien */
.info-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.info-table th, .info-table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.info-table th {
  background-color: #760049;
  color: white;
}

/* Tabel Resep Obat */
.obat-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.obat-table th, .obat-table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.obat-table th {
  background-color: #760049;
  color: white;
  font-weight: bold;
}

.obat-table tbody tr:nth-child(even) {
  background-color: #ffe1f2;
}

.obat-table tbody tr:hover {
  background-color: #f0d4df;
}
