.main-content {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.info-section, .form-section, .riwayat-section {
  background-color: #f0d4df;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #c82667;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  text-align: left;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #c82667;
  color: white;
}

.btn-tambah-baris, .btn-submit, .btn-detail {
  background-color: white;
  color: #760049;
  border: 1px solid#760049;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-tambah-baris:hover, .btn-submit:hover, .btn-detail:hover {
  background-color: #760049;
  color: #fff;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}